*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.encabezado{
    position: static;
    color: #fff;
}

body {
    height: 100%;
    color: #fff;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    background-color: #24252a;
    padding-left: 2vw;
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color: #ff6a00;
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: #24252a;
}

.ul-second > li:hover {
    background-color: #ff6a00;
}

.develop:hover > .ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #24252a;
}

.ul-third > li {
    padding: 1.5vw;
    border-bottom: solid 1px #fff;
}

.front:hover > .ul-third {
    display: block;
}

.img-c{
    height: 400px;
    width: 100%;
}

.carrusel{
    text-align: center;
    background-color: #000;
}

.carrusel > input{
    text-align: center;
    height: 8px;
    width: 70px;
    background-color: #ff6a00;
    border: 10vw;
    border-radius: 5%;
    border-color: #000;
}

.carrusel > input:hover{
    background-color: #000;
    border-color: #ff6a00
}

.logo{
    color: #fff;
    text-decoration: none;
}

.ul-third > a{
    text-decoration: none;
}

a:hover{
    color: #ff6a00;
    text-decoration: none;

}

a:visited{
    text-decoration: none;
    color: #fff;
}

.footer{
    height: 30%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.footer > img{
    width: 100px;
    height: 80px;
}

.contenido{
    width: 100%;
    height: fit-content;
    color: #000;
}

.logo{
    padding-right: 3%;
}

@media (max-width:900px) {
    .logo{
        display: none;
    }
}

